@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@view-transition {
    navigator: auto;
}

:root {
    --dur: 8s;
    --c-white: #fff;
    --c-black: #000;

    --c-ash: #eaeef6;
    --c-charcoal: #a0a0a0;
    --c-void: #141b22;

    --c-fair-pink: #FFEDEC;
    --c-apricot: #FBC8BE;
    --c-coffee: #754D42;
    --c-del-rio: #917072;

    --c-java: #1FCAC5;

    --c-titan-white: #f1eeff;
    --c-cold-purple: #a69fd6;
    --c-indigo: #6558d3;
    --c-governor: #4133B7;
}

@media (width < 768px) {
    [no-movil] {
        display: none !important;
    }
}

img {
    pointer-events: none;
}

.navbar {
    height: 3em;
    padding: 0 1.5em;
    position: fixed;
    top: 0;
    width: 100dvw;
    transition: all 0.5s ease;
    z-index: 10000000;
}

.navbar-scroll {
    background: #d8cec3af !important;
}

.menu-navbar li a {
    font-size: .7em;
    color: #214377;
    font-weight: 500;
    margin: 0 .25em;
}

.menu-navbar li a.selected {
    text-decoration: underline;
}

.navbar-title {
    color: #343435;
    margin: 0;
    font-size: 1.3em;
}

.navbar .secondary {
    padding: .4em 3em;
    font-size: .7em;
    background-color: #214377;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50em;
    margin: 0 .25em;
}

body {
    background-color: #E0D9D1;
    min-height: 100dvh;
    transition: all 1s ease-in-out;
}

.banner {
    height: 100dvh;
    display: grid;
    justify-items: center;
    align-items: center;

    img {
        max-width: 65dvw;
    }

    @media (width < 768px) {
        & {
            margin-top: 5em;
            height: 30dvh;
        }

        img {
            max-width: 85dvw;
        }
    }
}


.first-container {
    margin-top: 10dvh;

    @media (width < 768px) {
        & {
        margin-top: 5dvh;
        }
    }
}

.header-container {
    text-align: center;
}

.header-container h2 {
    color: #473F78;
    font-size: 3em;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header-container p {
    color: #473F78;
    font-size: .7em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 3em;
    margin-top: 2em;

    @media (width < 768px) {
        & {
            grid-template-columns: repeat(1, 1fr);
            margin: 0;
        }
    }
}


.card {
    border-radius: 16px;
    box-shadow: none;
    margin: 0;
}

.information {
    background-color: var(--c-white);
    padding: 1rem;


    .tag {
        display: inline-block;
        background-color: #635A85;
        color: #fff;
        font-weight: 600;
        font-size: 0.875rem;
        padding: 0.5em 0.75em;
        line-height: 1;
        border-radius: 6px;
        font-size: .8em;

        &+* {
            margin-top: 1rem;
        }
    }

    .title {
        font-size: 1.2em;
        color: var(--c-void);
        line-height: 1.25;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;

        &+* {
            margin-top: 1rem;
        }
    }

    .info {
        color: var(--c-charcoal);
        font-size: .8em;
        margin: 0;

        &+* {
            margin-top: 1.25rem;
        }
    }

    .button {
        font: inherit;
        line-height: 1;
        background-color: var(--c-white);
        border: 2px solid var(--c-indigo);
        color: var(--c-indigo);
        padding: 0.5em 1em;
        border-radius: 6px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        &:hover,
        &:focus {
            background-color: var(--c-indigo);
            color: var(--c-white);
        }
    }

    .details {
        display: flex;
        gap: 1rem;

        div {
            padding: .75em 1em;
            background-color: var(--c-titan-white);
            border-radius: 8px;
            display: flex;
            flex-direction: column-reverse;
            gap: .125em;
            flex-basis: 50%;
        }

        dt {
            font-size: .875rem;
            color: var(--c-cold-purple);
        }

        dd {
            color: var(--c-indigo);
            font-weight: 600;
            font-size: 1.25rem;
        }
    }
}

.info-container {
    background-color: #fff;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 3em;

    @media (width < 768px) {
        & {
            grid-template-columns: repeat(1, 1fr);
            margin: 0;
        }
    }
}

.info-container h2 {
    color: #473F78;
    font-size: 2em;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: .7em;
}

.span-2 {
    grid-column: span 2;
}

.span-2 ul {
    list-style: circle !important;
}

.span-1 {
    grid-column: span 1;
}

.pago {
    padding: 3em;
    background-color: #2F4358;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

.pago h2,
.pago p {
    color: #fff;
    text-align: center;
}

.pago button {
    background-color: #1ABC9C;
    padding: .4em 3em;
}

.footer {
    position: relative;
    width: 100%;
    background: #0A142F;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}